html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family);
	background: var(--background);
	color: var(--text-color);
	font-size: var(--body-text);
}

.icon {
	font-size: 1.6rem;
	line-height: var(--lh-base);
	padding: .5rem;
	transition: all .3s ease-out;
	cursor: pointer;
	border-radius: .5rem;
	&:hover,
	:active {
		color: var(--text-color);
		background: var(--dark-card-hover);
	}
}
