:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-base: hsl(0, 0%, 100%);
	--clr-base-lt: hsl(0, 0%, 50%);
	--clr-base-dk: hsl(0, 0%, 67%);
	--clr-primary: hsl(156, 64%, 41%);
	--clr-secondary: hsl(48, 100%, 50%);
	--clr-secondary-lt: hsl(52, 100%, 63%);
	--clr-tertiary: hsl(344, 97%, 53%);
	--toggle-bg-light: hsl(230, 22%, 74%);
	--toggle-bg-end: hsl(146, 68%, 55%);
	--toggle-light: hsl(230, 19%, 60%);
	--toggle-button-light: hsl(228, 46%, 96%);
	--dark-card-hover: hsl(228, 25%, 27%);
	--light-text1: hsl(230, 12%, 44%);
	--light-text2: hsl(230, 17%, 14%);
	--dark-card: var(--clr-black);
	--dark-bg:var(--clr-black);
	--light-bg: var(--clr-base);
	--dark-text1: var(--clr-base);
	--dark-text2: var(--clr-base-lt);
	--background: var(--dark-bg);
	--text-color: var(--clr-base);
	--text-color2: var(--dark-text2);
	--toggle: var(--toggle-light);
	--toggle-bg: var(--toggle-bg-light);
	--toggle-button: var(--toggle-button-light);
	--button-primary-color: var(--clr-primary);
	--button-secondary-color: var(--clr-base-lt);
}

@media (prefers-color-scheme: dark) {
	// :root {
	// 	--background: var(--dark-bg);
	// 	--text-color: var(--dark-text2);
	// 	--text-color2: var(--dark-text1);
	// 	--card-bg: linear-gradient(180deg, var(--dark-card) 80%, var(--dark-card) 100%);
	// 	--toggle: var(--light-bg);
	// 	--toggle-bg: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
	// 	--toggle-button: var(--dark-bg);
	// }
}

body.light {
	--background: var(--light-bg);
	--text-color: var(--light-text2);
	--text-color2: var(--light-text1);
	--card-bg: linear-gradient(180deg, var(--dark-card) 80%, var(--dark-card) 100%);
	--toggle: var(--toggle-light);
	--toggle-bg: var(--toggle-bg-light);
	--toggle-button: var(--toggle-button-light);
}

body.dark {
	--background: var(--dark-bg);
	--text-color: var(--dark-text2);
	--text-color2: var(--dark-text1);
	--card-bg: linear-gradient(180deg, var(--dark-card) 80%, var(--dark-card) 100%);
	--card-hover: var(--dark-card-hover);
	--toggle: var(--light-bg);
	--toggle-bg: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
	--toggle-button: var(--dark-bg);
}
