:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-base: hsl(0, 0%, 100%);
	--clr-base-lt: hsl(0, 0%, 50%);
	--clr-base-dk: hsl(0, 0%, 67%);
	--clr-primary: hsl(156, 64%, 41%);
	--clr-secondary: hsl(48, 100%, 50%);
	--clr-secondary-lt: hsl(52, 100%, 63%);
	--clr-tertiary: hsl(344, 97%, 53%);
	--dark-card-hover: hsla(0, 0%, 0%, 10%);
	--light-text1: var(--clr-black);
	--light-text2: hsl(230, 17%, 14%);
	--dark-card: var(--clr-black);
	--dark-bg: var(--clr-black);
	--light-link-bg: hsla(0, 0%, 0%, 10%);
	--dark-link-bg: hsla(0, 0%, 100%, 10%);
	--light-box-bg: hsla(0, 0%, 0%, 10%);
	--dark-box-bg: hsla(0, 0%, 100%, 10%);
	--light-bg: var(--clr-base);
	--dark-text1: var(--clr-base);
	--dark-text2: var(--clr-base-lt);
	--background: var(--dark-bg);
	--text-color: var(--clr-base);
	--text-color2: var(--dark-text2);
	--text-color-lt: var(--clr-white);
	--text-color-dk: var(--clr-black);
	--nav-link-hover-bg: var(--dark-link-bg);
	--button-primary-color: var(--clr-primary);
	--button-secondary-color: var(--clr-base-lt);
	--timer-bg: var(--dark-bg);
	--box-bg: var(--dark-box-bg);
	--card-overlay: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 80%, hsl(0, 0%, 0%) 100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--dark-bg);
		--text-color: var(--dark-text1);
		--text-color2: var(--dark-text2);
		--timer-bg: var(--dark-bg);
		--nav-link-hover-bg: var(--dark-link-bg);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: var(--light-bg);
		--text-color: var(--light-text1);
		--text-color2: var(--light-text2);
		--timer-bg: var(--light-bg);
		--box-bg: var(--light-box-bg);
		--nav-link-hover-bg: var(--light-link-bg);
	}
}

body.light {
	--background: var(--light-bg);
	--text-color: var(--light-text1);
	--text-color2: var(--light-text2);
	--timer-bg: var(--light-bg);
	--box-bg: var(--light-box-bg);
	--nav-link-hover-bg: var(--light-link-bg);
}

body.dark {
	--background: var(--dark-bg);
	--text-color: var(--dark-text1);
	--text-color2: var(--dark-text2);
	--timer-bg: var(--dark-bg);
	--box-bg: var(--dark-box-bg);
	--nav-link-hover-bg: var(--dark-link-bg);
}
