@use "../util" as *;

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--header-height: 8rem; // 80px

	/*========== Font Family ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--font-family: "Poppins", sans-serif;

	/*========== Font Weight ==========*/
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;

	/*========== Font Sizing ==========*/
	/* base font size - */
	--fs-base: 1rem;

	/* larger than heading font sizes */
	--fs-giga: 12.5rem; //200px
	--fs-mega: 9.375rem; //150px
	--fs-kilo: 6.25rem; //100px

	/* heading font sizes */
	--fs-h1: 2.25rem; //36px
	--fs-h2: 2rem; //32px
	--fs-h3: 1.75rem; //28px
	--fs-h4: 1.5rem; //24px
	--fs-h5: 1.25rem; //20px
	--fs-h6: 1.125rem; //18px

	/* smaller than heading font sizes */
	--fs-milli: 0.75rem; //12px
	--fs-micro: 0.625rem; //10px
	--fs-nano: 0.5rem; //8px

	/*========== Line Height ==========*/

	/* base line height - */
	--lh-base: 1rem;

	/* larger than heading line height */
	--lh-giga: 10.625rem; //170px
	--lh-mega: 7.5rem; //120px
	--lh-kilo: 4.375rem; //70px

	/* heading line height */
	--lh-h1: 2.25rem; //36px
	--lh-h2: 2rem; //32px
	--lh-h3: 1.75rem; //28px
	--lh-h4: 1.5rem; //24px
	--lh-h5: 1.375rem; //22px
	--lh-h6: 1.25rem; //20px

	/* smaller than heading line height */
	--lh-milli: 0.75rem; //12px
	--lh-micro: 0.625rem; //10px
	--lh-nano: 0.5rem; //8px

	/*========== Letter Spacing ==========*/
	--ls-giga: 0.125rem; //2px
	--ls-mega: 0.094rem; //1.5px
	--ls-milli: 0.05rem; //0.8px
	--ls-micro: 0.03125rem; //0.5px

	// Responsive typography
	@media screen and (max-width: 1149px) {
	}

	@media screen and (min-width: 968px) {
	}

	@media screen and (max-width: 768px) {
	}

	/*========== Margenes ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--m-0-5: 0.5rem;
	--m-0-75: 0.75rem;
	--m-1: 1rem;
	--m-1-5: 1.5rem;
	--m-2: 2rem;
	--m-2-5: 2.5rem;

	/*========== Z-Index ==========*/
	--z-fixed: 100;

	--body-text: var(--fs-base);
	--display-text: var(--fs-giga);
	--button-text: var(--fs-h6);
}
