@use "../util" as *;
/*=========== HERO ==============*/
.hero {
	&__container {
		display: grid;
		grid-template-columns: repeat(11, minmax(4rem, 1fr));
		grid-template-rows: rem(50) repeat(5, minmax(rem(100), 1fr));
		gap: rem(8);
	}

	&__header {
		grid-column: 1/-1;
		grid-row: 2/-1;
		display: grid;
		grid-template-columns: repeat(11, minmax(4rem, 1fr));
		grid-template-rows: repeat(4, 1fr);
	}
	&-right {
		grid-column: 8/-1;
		grid-row: 1/-1;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

	&-left {
		grid-column: 1/8;
		grid-row: 1/-1;
	}

	&__img {
		grid-column: 1/-1;
		grid-row: 1/-1;
		background-image: url("/app/img/hero-img3.png");
		background-position: 35% 45%;
		height: 44rem;
		z-index: 1;
	}

	&__card-group {
		grid-column: 6/-1;
		grid-row: 2/4;
		z-index: 10;
	}

	&__tag {
		display: flex;
		align-items: center;
		background: lighten(#000000, 10%);
		padding: rem(8);
		border-radius: 50vh;
		grid-column: 1/6;
		grid-row: 1/2;

		&--status {
			flex-basis: 50px;
			font-size: var(--fs-micro);
			font-weight: var(--fw-semibold);
			text-align: center;
			text-transform: uppercase;
			line-height: var(--fs-h6);
			letter-spacing: var(--ls-mega);
			background: var(--clr-primary);
			padding: rem(8);
			border-radius: 10vh;
		}

		&--info {
			padding: rem(8);
		}
	}

	&__heading {
		$spacing: rem(2);
		font-size: var(--display-text);
		line-height: var(--lh-giga);
		letter-spacing: neg($spacing);
	}

	&__desc {
		line-height: rem(29);
		letter-spacing: var(--ls-micro);
		color: darken(#ffffff, 50%);
		margin: rem(50) 0;
	}

	&__btns {
		display: flex;
		align-items: center;
		gap: rem(30);
	}
}

.timer {
	color: var(--clr-secondary);
}

.calories {
	color: var(--clr-tertiary);
}
