@use "../util" as *;

/*=========== TRAINERS ==============*/
.trainers {
	&__container {
		display: grid;
		grid-template-columns: repeat(11, minmax(min-content, 1fr));
		grid-template-rows: repeat(8, minmax(rem(50), 1fr));
	}

	&__header {
		position: relative;
		grid-column: 1/6;
		grid-row: 1/4;
		z-index: 10;
	}

	&-box {
		grid-column: 4/-1;
		grid-row: 1/4;
		background: var(--box-bg);
		display: flex;
		align-items: center;
		justify-content: center;

		&__content {
			margin: auto rem(120);
			transform: translateX(20%);
		}
	}

	&__heading {
		$spacing: 2px;
		font-weight: var(--fw-semibold);
		font-size: var(--fs-mega);
		line-height: var(--lh-mega);
		letter-spacing: neg($spacing);
	}

	&__desc {
		font-size: var(--fs-h4);
		line-height: var(-lh-h1);
		letter-spacing: var(--ls-micro);
		opacity: 0.7;
		margin-bottom: rem(40);
	}

	&__artwork {
		position: absolute;
		left: -5%;
		bottom: 0%;
		z-index: -1;
	}
}

.trainer {
	&__img {
		margin-bottom: rem(10);
	}
	&__name {
		font-weight: normal;
		font-weight: var(--fw-medium);
		font-size: var(--fs-h5);
		line-height: rem(25);
		letter-spacing: var(--ls-micro);
	}

	&__title {
		font-weight: normal;
		font-size: var(--fs-milli);
		line-height: var(--fs-milli);
		letter-spacing: var(--ls-micro);
		margin-top: rem(5);
		opacity: 0.5;
	}

	&-1 {
		grid-column: 1/4;
		grid-row: 4/-1;
	}
	&-2 {
		grid-column: 6/-1;
		grid-row: 4/7;
		transform: translateY(-10%);
	}
	&-3 {
		grid-column: 4/8;
		grid-row: 7/-1;
	}
}
