@use "../util" as *;

.card {
	display: inline-flex;
	flex-direction: column;
	padding: 1rem 1.6rem;
	background: lighten(#000000, 10%);
	border-radius: rem(20);
	&__title {
		font-weight: var(--fw-semibold);
		font-size: var(--fs-h1);
		line-height: var(--lh-h1);
		letter-spacing: var(--ls-kilo);
	}

	&__subtitle {
		font-size: 13px;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: var(--ls-kilo);
	}

	&-group {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}
